<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Rechnung</h1>
<hr />
<p>
    <span>Rechnungsnummber: <span th:text="${transaction.id}"></span></span>
</p>
<table th:if="${customer}">
    <tr>
        <td>Name:</td>
        <td><b th:text="${customer.firstName + ' ' + customer.lastName}"></b></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><b th:text="${customer.email}"></b></td>
    </tr>
    <tr>
        <td>Geburtstag:</td>
        <td><b th:text="${customer.birthday}"></b></td>
    </tr>
    <tr>
        <td>Adresse:</td>
        <td><b th:text="${customer.address}"></b></td>
    </tr>
</table>
<hr />
<h2>Positionen</h2>
<table style="width: 100%">
    <tr th:each="ticket : ${tickets}">
        <td style="width: 70%" th:text="${ticket.class.name == 'at.ac.tuwien.inso.sepm.ticketline.server.entity.SeatTicket' ? 'Sitzplatz in Reihe ' + ticket.seat.row + '/ Spalte ' + ticket.seat.column : 'Stehplatz in Sektor ' + ticket.sector.name}"></td>
        <td style="width: 30%">€ <span th:text="${ticket.price}"></span></td>
    </tr>
    <tr></tr>
    <tr>
        <td style="width: 70%">Gesamtpreis:</td>
        <td style="width: 30%">€ <span th:text="${#aggregates.sum(tickets.![price])}"></span></td>
    </tr>
</table>

</body>
</html>