<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Bill</h1>
<hr />
<p>
    <span>Bill Number: <span th:text="${transaction.id}"></span></span>
</p>
<table th:if="${customer}">
    <tr>
        <td>Name:</td>
        <td><b th:text="${customer.firstName + ' ' + customer.lastName}"></b></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><b th:text="${customer.email}"></b></td>
    </tr>
    <tr>
        <td>Birthday:</td>
        <td><b th:text="${customer.birthday}"></b></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><b th:text="${customer.address}"></b></td>
    </tr>
</table>
<hr />
<h2>Positions</h2>
<table>
    <table style="width: 100%">
        <tr th:each="ticket : ${tickets}">
            <td style="width: 70%" th:text="${ticket.class.name == 'at.ac.tuwien.inso.sepm.ticketline.server.entity.SeatTicket' ? 'Seat place in row ' + ticket.seat.row + '/ column ' + ticket.seat.column : 'standing place in sector ' + ticket.sector.name}"></td>
            <td style="width: 30%">€ <span th:text="${ticket.price}"></span></td>
        </tr>
        <tr></tr>
        <tr>
            <td style="width: 70%">Total Price:</td>
            <td style="width: 30%">€ <span th:text="${#aggregates.sum(tickets.![price])}"></span></td>
        </tr>
    </table>
</table>

</body>
</html>